# This is a basic workflow to help you get started with Actions

name: deploy to pages
# Controls when the workflow will run
on:
  # Triggers the workflow on push events but only for the "gdrive-test" branch
  push:
    branches: ['gdrive-test']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-and-deploy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Replace GDrive API key
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: "G_DRIVE_API_KEY = 'G_DRIVE_API_KEY'"
          replace: "G_DRIVE_API_KEY = '${{secrets.G_DRIVE_API_KEY}}'"
          include: 'src/lib/constants/constants.ts'
      - name: Replace GDrive Client ID
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: "G_DRIVE_CLIENT_ID = 'G_DRIVE_CLIENT_ID'"
          replace: "G_DRIVE_CLIENT_ID = '${{secrets.G_DRIVE_CLIENT_ID}}'"
          include: 'src/lib/constants/constants.ts'
      - name: Replace GDrive Client ID
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: "G_DRIVE_CLIENT_SECRET = 'G_DRIVE_CLIENT_SECRET'"
          replace: "G_DRIVE_CLIENT_SECRET = '${{secrets.G_DRIVE_CLIENT_SECRET}}'"
          include: 'src/lib/constants/constants.ts'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
